.Title {
    text-align: center;
    font-size: larger;
    font-weight: 800;
    padding: 5px;
    margin: 5px;
}
.AddOn {
    width: 24%;
    margin: auto;
    height: 330px;
    text-align: center;
    background-color: tomato;
    display: inline-block;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}
.AddOnImage {
    height: 200px;
    width: 200px;
    padding : 10px
}

.Button {
    width: 30%;
    display: block;
    padding: 7px;
    margin : 5px 0 5px 150px;
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

.Button:hover{
    background-color: white;
}

.OrderNow {
    text-align: center;
    font-weight: bolder;
    width: 35%;
    padding: 7px;
    margin : 0 0 4px 500px;
    background-color:yellow;
    border: 2px solid black;
}


.OrderNow:hover {
    background-color: lightyellow;
}

.Modal {
    width:40%;
    height:20%;
    position: fixed; 
    left: 30%;
    top: 10%;
    z-index: 1;
    margin-left: auto;
    border: 2px solid black;
}